
@media (min-width: 1025px) and (max-width: 1200px) {

  body {
    overflow-x: hidden;
  }


  .navbar {
    height: 85px;
    padding: 0 40px;
  }

  .navbar img {
    width: 95px;
  }

  .nav2 {
    gap: 18px;
  }

  .nav2 h4 {
    font-size: 16px;
  }


  .page1 {
    height: auto;
    padding-bottom: 40px;
  }

  .camera {
    width: 82%;
  }

  .text {
    font-size: 24px;
  }

  .camerapng {
    gap: 18px;
  }

  .box {
    width: 7vw;
    height: 7vw;
    max-width: 120px;
    max-height: 120px;
  }

  .box img {
    width: 3.5vw;
    max-width: 45px;
  }


  .professional h1 {
    width: 80%;
    font-size: 26px;
  }

  .gear {
    width: 85%;
    gap: 48px;
  }

  .gear-box1 {
    width: 58%;
  }

  .gear-box2 {
    width: 42%;
  }


  .price {
    width: 92%;
  }

  .box1 img {
    width: 50%;
  }

  .price h2 {
    font-size: 16px;
  }


  .page4 {
    width: 88%;
  }

  .work1,
  .work2,
  .work3,
  .promise1,
  .promise2,
  .promise3 {
    width: 30%;
  }


  .container1 {
    width: 36vw;
  }


  .container2 {
    gap: 4.5rem;
  }


  .footer2 {
    padding: 30px 60px;
    gap: 60px;
  }

  .footer2 h1 {
    font-size: 18px;
  }

}






@media (max-width: 1024px) {

  body {
    overflow-x: hidden;
  }


  .navbar {
    height: 80px;
    padding: 0 24px;
    justify-content: space-between;
  }

  .navbar img {
    width: 90px;
  }

  .nav2 {
    gap: 14px;
  }

  .nav2 h4 {
    font-size: 15px;
    white-space: nowrap;
  }


  .navbar3 {
    font-size: 16px;
    height: auto;
    padding: 8px;
  }


  .page1 {
    height: auto;
    padding-bottom: 32px;
  }

  .camera {
    width: 88%;
    height: auto;
  }

  .text {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .camerapng {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .box {
    width: 110px;
    height: 110px;
  }

  .box img {
    width: 42px;
  }


  .professional h1 {
    width: 88%;
    font-size: 24px;
    margin-top: 40px;
  }

  .gear {
    width: 90%;
    gap: 36px;
  }

  .gear-box1 {
    width: 55%;
  }

  .gear-box2 {
    width: 45%;
  }


  .page2,
  .page3 {
    height: auto;
    padding-bottom: 40px;
  }

  .page2 h4,
  .page3 h4 {
    font-size: 22px;
  }

  .price {
    width: 95%;
    flex-wrap: wrap;
    box-shadow: none;
  }

  .box1 {
    width: 48%;
    height: auto;
    margin-bottom: 18px;
  }

  .box1 img {
    width: 48%;
  }

  .price h2 {
    font-size: 15px;
    line-height: 1.4;
  }


  .page4 {
    width: 92%;
    height: auto;
    padding-bottom: 40px;
  }

  .works,
  .promise {
    gap: 20px;
  }

  .work1,
  .work2,
  .work3,
  .promise1,
  .promise2,
  .promise3 {
    width: 32%;
    height: auto;
  }

  .work1 h4,
  .promise1 h4 {
    font-size: 16px;
  }

  .work1 p,
  .promise1 p {
    font-size: 13px;
  }


  .page5 {
    height: auto;
    padding-bottom: 40px;
  }

  .page5 h1 {
    font-size: 24px;
  }

  .container1 {
    width: 44vw;
    height: auto;
  }

  .container1 p {
    font-size: 14px;
  }

  .container1 h1 {
    font-size: 18px;
  }


  .page6 {
    height: auto;
    padding-bottom: 30px;
  }

  .page6 h1 {
    font-size: 22px;
  }

  .container2 {
    gap: 4rem;
    padding: 20px 30px;
  }

  .container2 img {
    height: 80px;
  }


  .page7 {
    height: auto;
  }

  .footer1 {
    padding: 24px;
  }

  .footer1 h1 {
    font-size: 20px;
  }

  .footer1 button {
    width: 160px;
    height: 42px;
    font-size: 14px;
  }

  .footer2 {
    padding: 30px 40px;
    gap: 48px;
  }

  .footer2 h1 {
    font-size: 17px;
  }

  .content1 h4,
  .content1 div {
    font-size: 14px;
  }

  .rights {
    padding: 14px;
  }

  .rights h4 {
    font-size: 13px;
  }
}





















@media (max-width: 400px) {

  body {
    overflow-x: hidden;
  }


  .navbar {
    height: auto;
    padding: 10px;
  }

  .nav2 {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .nav2 h4 {
    font-size: 13px;
    display: none;
  }


  .navbar3 {
    font-size: 12px;
    height: auto;
    padding: 8px;
    text-align: center;
  }


  .page1 {
    height: auto;
  }

  .camera {
    width: 90%;
    height: auto;
  }

  .text {
    font-size: 20px;
    text-align: center;
  }

  .camerapng {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .box {
    width: 100%;
    height: 80px;
    font-size: 3vw;
    padding-top: 10px;
  }

  .box img {
    width: 40px;
  }


  .professional h1{
    font-size: 5vw;
    padding: 20px;
    width: 100%;
    
  }
  .gear {
    flex-direction: column;
    width: 95%;
    gap: 20px;
  }

  .gear-box1,
  .gear-box2 {
    width: 100%;

    
  }
  .gear-box2 img{
    overflow: hidden;
  }
  


  .page2,
  .page3 {
    height: auto;
  }

  .page2 h4,
  .page3 h4 {
    font-size: 18px;
  }

  .price {
    flex-direction: column;
    box-shadow: none;
  }

  .box1 {
    width: 100%;
    height: auto;
    flex-direction: column;
    text-align: center;
  }

  .box1 img {
    width: 70%;
    height: auto;
  }

  .price h2 {
    font-size: 14px;
    padding: 10px;
  }


  .page4 h2{
    padding: 30px;
  }
  .page4 {
    width: 95%;
    height: auto;
  }

  .works,
  .promise {
    flex-direction: column;
    gap: 15px;
  }

  .work1,
  .work2,
  .work3,
  .promise1,
  .promise2,
  .promise3 {
    padding-bottom: 20px;
    width: 100%;
    height: auto;
  }
.work1 img{
    width: 20vw;
}
.work2 img{
    width: 20vw;
}
.work3 img{
    width: 20vw;
}
.promise1 img{
    width: 19vw;
}
.promise2 img{
    width: 19vw;
}
.promise3 img{
    width: 19vw;
}


  .work1 h4,
  .promise1 h4 {
    font-size: 16px;
  }
  .work2 h4,
  .promise2 h4 {
    font-size: 16px;
  }
  .work3 h4,
  .promise3 h4 {
    font-size: 16px;
  }

  .work1 p,
  .promise1 p {
    font-size: 13px;
     font-weight: 300;

  }
  .work2 p,
  .promise2 p {
    font-size: 13px;
     font-weight: 300;
  }
  .work3 p,
  .promise3 p {
    font-size: 13px;
    font-weight: 300;
  }
  .wedont{
    padding: 30px;
    font-size: 3.5vw;
    width: 100%;
  }





  .page5 {
    height: auto;
    padding-bottom: 20px;
  }

  .page5 h1 {
    font-size: 18px;
    padding: 15px 10px;
  }

  .container {
    overflow-x: hidden;
  }

  .scroll-content {
    animation-duration: 40s;
  }

  .container1 {
    width: 280px;
    height: auto;
    padding-bottom: 10px;
  }

  .container1 p {
    font-size: 13px;
    padding: 15px;
  }

  .container1 h1 {
    font-size: 16px;
    margin-top: 5px;
  }


  .page6 {
    height: auto;
    padding-bottom: 20px;
  }

  .page6 h1 {
    font-size: 26px;
    padding-bottom: 20px;
    text-align: center;
  }

  .container2 {
    height: auto;
    gap: 5px;
  
  }

  .container2 img {
    height: 27vw;
  }


  .page7 {
    height: auto;
    border-top: 1px solid black;
  }


  .footer1 {
    flex-direction: column;
    gap: 12px;
    padding: 15px;
    border-bottom: 1px solid black;
  }

  .footer1 h1 {
    font-size: 15px;
    text-align: center;
  }

  .footer1 button {
    width: 160px;
    height: 40px;
    font-size: 14px;
  }


  .footer2 {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    border-bottom: 1px solid black;
  }


  .footer2 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 10px;
    border-bottom: 1px solid black;
  }


  .footer2 > div:last-child {
    border-bottom: none;
  }

  .footer2 h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }


  .content1 {
    align-items: center;
  }

  .content1 h4,
  .content1 div {
    font-size: 14px;
    text-align: center;
  }

  .icon11 {
    justify-content: center;
  }


  .rights {
    border-top: 1px solid black;
    padding: 10px;
    height: auto;
  }

  .rights h4 {
    font-size: 12px;
    text-align: center;
  }
}










